#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  text-align: center;
}

/* Анимация для плавного изменения размеров */
.size-transition {
  transition: all 0.3s ease-in-out;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

#body {
  display: flex;
  align-items: center;
  justify-content: center;
}
